* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #28363d; /*#7 color*/
	font-family: 'Open Sans Condensed', sans-serif;
}

/*setuup*/

html {
	scroll-behavior: smooth;
}

/*nav bar*/
.navBar {
	background-color: #28363d; /*#7 color*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 20px;
	text-shadow: 0 2px 5px white;
	cursor: default;
	font-family: 'Audiowide', cursive;
}

/*side bar*/
.sidebar {
	background-color: #28363d; /*#7 color*/
	position: fixed;
	height: 90.5%;
	display: flex;
	flex-direction: column-reverse;
}

.sidebar a {
	margin-bottom: 2rem;
	color: #fff;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
}

#h1 {
	color: #c4cdc1; /*#2 color*/
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#h2 {
	color: #dee1dd; /*#1 color*/
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#h3 {
	color: #6d9197; /*#4 color*/
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#h4 {
	color: #99aead; /*#3 color*/
	margin-top: 2rem;
	margin-right: 40%;
	word-spacing: 2px;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#h5 {
	color: #99aead; /*#3 color*/
	margin-top: 1rem;
	margin-right: 10%;
	margin-left: 1.5rem;
	list-style-type: none;
	word-spacing: 2px;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.container {
	height: 100vh;
	margin-left: 25%;
	margin-right: 30%;
	letter-spacing: 3px;
	cursor: default;
	text-align: left;
	padding-top: 7rem;
}

.fa {
	margin: 25px;
	padding: 7px;
	text-align: center;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

/*soc meds*/
.fa-facebook {
	color: #dee1dd; /*#1 color*/
}

.fa-google {
	color: #dee1dd; /*#1 color*/

}
.fa-skype {
	color: #dee1dd; /*#1 color*/
}

/*Footer*/
.footer {
	background-color: #dee1dd;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

.footer span{
	color: #28363d;
	background-color: #dee1dd;
	font-weight: bold;
	font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    letter-spacing: 2px;
}

/*Codes for Responsive Webpage*/
@media(min-width: 400px) and (max-width: 800px) {
	.footer {
		margin-left: 5rem;
	}
}

@media(max-height: 500px) {
	.container {
		padding-top: 0;
	}
}

@media(max-width: 600px) {
	#h4 {
		display: none;
	}
	.container {
		padding-top: 2rem;

	}
}